@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900');

*{
    margin: 0 0 0 0.1%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;  
    z-index: 9;
}
.menu{
    width: 100%;
    z-index: 9999;
    font-size: 24px;
}
header> .logo >img{
    height: 7vh;
    padding-left: 10vh;
    padding-top: 1vh;
}

.navBarList{
    padding-left: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    white-space: nowrap;
    margin-right: 10vh;
    overflow: hidden;
}
.navBarList > li{
    display: inline-block;
}
.navBarList > li>a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-left: 7vh;
    color: #ffa500;
}
.navBarList >li>a:hover{
    color: #007bff;

}
.navBar.scrolled {
    background-color: #fff;
}

#navBar.scrolled .navBarList li a{
    color: #030599;
    white-space: nowrap;
    z-index: 100;
}
#navBar.scrolled .navBarList li a:hover{
    color: #df6e04;
}

.menu-icon{
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
}
.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color:#007bff;
    margin-bottom: 5px;
}
.menu>input{
    visibility: hidden;
}
/* -----------Hamburger menu css---------- */
@media (max-width: 768px){
    .menu-icon{
        display: block;
    }
    .navBarList{
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
    }
    .navBarList>li{
        display: block;
        text-align: center;
    }
    .navBarList >li>a{
        display: inline-block;
        padding: 8px;
    }
        #menu-toggle:checked ~ .navBarList{
            display: block;
        }
}

/* ======make the page resizable======= */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* section{
    width: calc(10vh+1px);
    height: calc(10vh+1px);
} */

/* ============================================================================================================================================================================================================================ */
/* ----------------------hero_1------------------------------------------------------- */
.hero_1{
    padding-top: 15vh;
    height: 50vh;
    width: 100%;
    background-color: #df6e04;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.hero_text_intro{
    position: absolute;
    margin-left: 10%;
    flex-shrink: inherit;
}
.hero_text_intro> h2{
    white-space: nowrap;
    position: relative;
    font-weight: bold;
    font-size: 7vh;
    z-index: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #120441;
    animation: changeColor 10s ease-in-out;
}
.hero_text_intro> h2> span{
    background-color: #d5cee6;
    border-radius: 10px;
    color: #df6e04;
}
.hero_text_intro> p{
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    text-decoration-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
    color: #ffffff;
}
/* .hero_text_intro:hover {
    animation: animat 1s;
    transform: translateX(0);
} */

.shape:nth-child(1) {
    top: 10%;
    left: 10%;
}
/* =======Shake main title on hover========== */
/* @keyframes animat {
    10% {
        transform: translatex(-10px);
    }

    20% {
        transform: translatex(10px);
    }

    30% {
        transform: translatex(-10px);
    }

    40% {
        transform: translatex(10px);
    }

    50% {
        transform: translatex(-10px);
    }

    60% {
        transform: translatex(10px);
    }

    70% {
        transform: translatex(-10px);
    }

    80% {
        transform: translatex(10px);
    }

    90% {
        transform: translatex(-10px);
    }

    100% {
        transform: translatex(10px);
    }
} */
/*service text changind color*/
@keyframes changeColor{
    0%, 10%{
        text-shadow: #f8f7f9;
    }
50%{
    color: #05366b;
}
100%{
    color: #fff;
}
}
/* ===the round shapes and animation===== */
.shape:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px; 
    background-image: linear-gradient(to top, #c99b04 0%, #618fe0 100%);
    border-radius: 50%;
    animation: bounceAndRoll 10s ease-in-out infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes bounceAndRoll {
    0% {
        top: 100%;
        left: 80%;
        transform: scale(1) rotate(0deg);
    }

    25% {
        top: 10%;
        transform: scale(1.6) rotate(0deg);
    }

    50% {
        top: 80%;
        transform: scale(0.5) rotate(0deg);
        z-index: 4;
    }

    75% {
        top: 90%;
        transform: scale(1) rotate(-180deg);
        background-color: #ffffff;
    }

    80% {
        top: 30%;
        left: -10%;
        transform: scale(1.5) rotate(-180deg);
        opacity: 1;
    
    }

    100% {
        top: 10%;
        left: -50%;
        transform: scale(0.2) rotate(-180deg);
        opacity: 0;
    }
}

.shape:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px; 
    background-image: linear-gradient(to top, #c99b04 0%, #618fe0 100%);
    border-radius: 50%;
    animation: bounceAndRoll2 20s ease-in-out infinite;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes bounceAndRoll2 {
    0% {
        top: 25%;
        left: -1%;
        transform: scale(1) rotate(0deg);
    }

    25% {
        top: 75%;
        left: 25;
        transform: scale(1) rotate(0deg);
    }

    50% {
        top: 25%;
        left: 75%;
        transform: scale(4) rotate(0deg);
        
    }

    75% {
        top: 75%;
        left: 80%;
        transform: scale(1) rotate(0deg);
        background-color: #ffffff;
    }

    100% {
        top: 40%;
        left: 100%;
        transform: scale(0.2) rotate(-180deg);
        opacity: 0;
    }
}
/* --the appearing and dissapearing text under the "services" title-- */
#tagline {
    width: auto;
    font-size: 30px;
    line-height: 40px;
    height: 4vh;
    position: absolute;
    top: 85%;
    margin-top: -25px;
    margin-left: 45%;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
    color: #fff;
}

#tagline:before {
    content: '{';
    position: absolute;
    left:-30px;
    line-height: 4vh;
}

#tagline:after {
    content: '}';
    position: absolute;
    right: -30px;
    line-height: 4vh;
}

#tagline:after,
#tagline:before {
    color: #3E359C;
    font-weight: bolder;
    font-size: 45px;
    animation-name: opacity;
    animation-duration: 12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.visible {
    display: inline-block;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
}

.visible ul {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    animation-name: change;
    animation-duration: 12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.visible ul li {
    line-height: 40px;
    margin: 0;
    font-size: 4vh;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 1
    }

    18% {
        opacity: 1
    }

    23% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    40% {
        opacity: 1
    }

    42% {
        opacity: 0
    }

    48% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    65% {
        opacity: 1
    }

    67% {
        opacity: 0
    }

    73% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    85% {
        opacity: 1
    }

    87% {
        opacity: 0
    }

    93% {
        opacity: 0
    }

    95% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes opacity {
    0% {
        opacity: 1
    }

    18% {
        opacity: 1
    }

    23% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    40% {
        opacity: 1
    }

    42% {
        opacity: 0
    }

    48% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    65% {
        opacity: 1
    }

    67% {
        opacity: 0
    }

    73% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    85% {
        opacity: 1
    }

    87% {
        opacity: 0
    }

    93% {
        opacity: 0
    }

    95% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}
@media  (max-width:700px){
.hero_1{
    width: 100%;
    height: calc(45vh+20vh);
}
.hero_text_intro{
    margin-left:10%;
}
#tagline {
    margin-left: 10%;
}
    
}


/* ----------into-services 1 flip cards css------------------------------------------------- */
.intro-hero {
    font-family: 'Nunito', sans-serif;
    padding: 50px;
    position: relative;
    }
.card_ {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px #df6e04;
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
        padding: 14px 80px 18px 36px;
        cursor: pointer;
    }
    .card_:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px #0212c7;
    }
    .card_ h3 {
        font-weight: 600;
    }
    .card_ img {
        position: absolute;
        top: 20px;
        right: 15px;
        max-height: 120px;
    }
    .card-1 {
        background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
    }

    .card-2 {
        background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
    }

    .card-3 {
        background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 80px;
    }

    @media(max-width: 760px) {
        .card_ {
            margin: 20px;
        }
    }

/* ---------------  what we do section------------------------- */
.what_we_do{
    align-items: center;
    margin-top: 6vh;
    align-content: center;
    justify-content: center;
}
.what_we_do div{
color: #0212c7;
position: relative;
margin-left: 50%;
}
.what_we_do p{
margin-left:20%;
align-items: center;
margin-bottom: 5vh;
}
/* ---------------  services offered------------------------- */
.service{
height: auto;
background-color: #fffff0;
width: 100%;
display: flex;
justify-content: space-between;
flex-shrink: 1;
align-items: center;
}
.service .service_image1{
    border-color: #ff9100;
    background-color: #1c1a1a7e;
    border-radius: 10px;
}
.service .service_image1 img{
    height: 30vh;
    width: fit-content;
    position: relative;
    margin-top: 3vh;
    margin-left: 5vh;
    border-radius: 10px;
}
.service_image1 img:hover{
    transition: 0.6s;
    transform: scale(1.1);
}
.service_text{
    min-width: 15vh;
    margin-top: 4vh;
    margin-right: 10%;
    background-color: #120441;
    position: relative;
    margin-left: 10%;
    border: 3vh black;
}
.service .service_image1 h1{
    text-transform: uppercase;
    font-size: 3vh;
    padding-top: 10px;
    margin-left: 5vh;
    color: #0212c7;
}
.service .service_text .scrollable_paragraph{
height: 130px;
width: 100%;
overflow: auto;
margin-right: 10%;
overflow: auto;
background-color: #877474;
color: #ffffff;
scroll-behavior: smooth;
}

@media(max-width:850px){
    .service{
        flex-direction: column;
        min-height: none;
        
    }
    .service .service_text .scrollable_paragraph{
        text-align: left;
        margin: auto 5vh 3vh 10%;
        }
}
/* ---button in services--- */
.custom-btn {
    margin: 20px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* ============section 2 many_cards======================================================== */


/* Colour Variables */
/* :root {_____
  --white: #ffffff;
  --lightBG: #353b3794;
  --salmon: #ff6666;
  --teal: #0096a0;
  --tealMid: #0ebac7;
  --tealContrast: #33ffff;
  --tealShade: #007c85;
  --darkGrey: #4f585e;
}

.many_cards {
  background: var(--lightBG);
  color: var(--darkGrey);
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

.many_cards > a.btn {
  background: var(--teal);
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: var(--white);
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(var(--teal), 2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(var(--teal), 2.5);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: var(--white);
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

div.card img {
  max-width: 300px;
}

div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}

div.card div.card-title {
  background: var(--white);
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}

div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.card div.card-title a.toggle-info span {
  background: var(--white);
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}

div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}

div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  background: darken(var(--white), 15);
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
  background: var(--salmon) !important;
}

div.card.show div.card-title a.toggle-info span {
  top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}

div.card.show div.card-flap {
  background: var(--white);
  transform: rotateX(0deg);
}

div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}

div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* -------my_cards----section-----

.my_cards{
    background-color: #4f585e;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.my_cards .item1{
    display: flex;
}
.title_within {
    position: absolute;
    display: flex;
} */


/* ===========FLIP CARDS ==opens on hover======= */
.card-transform{
    margin: 5vh;
    padding: 0;
    height: auto;
    background: #fffff0;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.container3{
    width: 100%;
    position: relative;
    margin: 5vh;
    padding-right: 5vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

.container3 .card3{
    position: relative;
    cursor: pointer;
    margin-left: 1vh;
    margin-right: 5vh;
}

.container3 .card3 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container3 .card3 .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container3 .card3:hover .face.face1{
    background: #070590;
    transform: translateY(0);
}

.container3 .card3 .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container3 .card3:hover .face.face1 .content{
    opacity: 1;
}

.container3 .card3 .face.face1 .content img{
    max-width: 100px;
}

.container3 .card3 .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container3 .card3 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #161615d2;
    transform: translateY(-100px);
}

.container3 .card3:hover .face.face2{
    transform: translateY(0);
    box-shadow: 0 20px 50px #0318a4d2;
}

.container3 .card3 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container3 .card3 .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #846604;
}

.container3 .card3 .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
@media (width:850px){
    .container3{
        flex-wrap: wrap; /*items will wrap to the next line if necessary*/
    }
}

/* for smaller screens */
@media (max-width: 900px){
    .container3 {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 750px){
    .container3 {
        flex-direction: column;
        align-items: center;
    }
}

.card3{
    transition: flex 0.5s, margin 0.5s;

}

/* ========contact form========== */
.contact {
    padding:auto;
    align-items: center;
    margin: auto;
}
.container-contact{
    width: 100%;
}

.contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}
.row-contact{
    display: flex;
    margin-left: 10%;
    width: 50%;
    justify-content: space-between;
}
.col-md-5{
    margin-right: 5vh;
    width: 50%;
}
.col-md-7{
    width: 150vh;
    background-color: #0212c7;
}
.row-inputs{
    width: 100%;
}
.row-inputs > input{
    width: 100%;
}


@media(width:700px){
    .row-contact{
        flex-direction: column;
    }
}
.contact .heading h2 span {
    color: #ff9100;
}

.contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #ff9100;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}
.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
    text-align: center;
    width: 20px;
}
.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}


/* ----Footer-------------------- */
footer {
    margin-top: 10px;
    
}

.footTop{
    margin-top: 10v;
    padding: 40px 15vh 20px 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
}
.footTop .foot-about img{
    height: 8vh;
    margin-bottom: 5vh;

}
.foot-about{
    text-align: center;
    width: 25%;
    margin-top: 4vh;
    font-weight: 500;
    font-size: 2vh;
    color: #ffffff;
    height: 100%;
}

.connectWithUs {
    padding-top: 5vh;
    padding-left: 8vh;
    text-align: center;
}
.connectWithUs h3{
    font-size: smaller;
    color: #fff;
}
.connectWithUs .social-icons {
    margin-top: 4vh;
}
.connectWithUs .social-icons li i{
    color: #fff;

}
.connectWithUs .social-icons li i:hover{
    color: #ffa500;
}
.wrapper-subscribe{
    margin-top: 5vh;
    max-width: 100%;
    position: relative;
}
.wrapper-subscribe input{
    background-color: rgba(39, 4, 197, 0.3);
    border: 2px solid #ffffff;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
    color: white;
}
.wrapper-subscribe button{
    background-color: white;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    transform: translateX(-10%);
    top: 10%;
    cursor: pointer;
}

.connect-section h3 {
    margin-top: 0;
}
.quickLinks{
    padding-top: 4vh;
    color:#fff;
    margin-left: 20%;
    text-align: center;
}
.quickLinks h3{
font-size: 2vh;
object-fit: cover;
white-space: nowrap;
}
.quickLinks ul {
    list-style: none;
    margin-top: 2vh;
}
.quickLinks ul li{
    margin-top: 1vh;
}
.social-icons li {
    display: inline-block;
    margin: 0 5px;
}
.social-icons a {
    color: #333;
    font-size: 24px;
}
.social-icons a:hover {
    color: #007bff; /* Change color on hover as desired */
}

@media (max-width: 700px){
    .footTop {
        flex-direction: column;
        align-items: center;
    }
    .foot-about{
        text-align: center;
        width: 60%;
        margin-top: 4vh;
    }
    .foot-about img{
        height: 7vh;
        margin-bottom: 2vh;
        
    }
    .connectWithUs {
        padding-top: 5vh;
        padding-left: 3vh;
        text-align: center;
    }
    .quickLinks{
        padding-top: 4vh;
        color:#fff;
        margin-left: 5%;
        text-align: center;
    }
    .footBottom{
        padding-top: 8px;
        }        
    .footBottom p{
        padding-top: 5px 0 5px 0;
        }
}

.footBottom{
background-color: #3c3a3ac7;
height: 30px;
text-align: center;
}

